/*Navbar*/

.navbar-custom {
    background-color: #000;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

.navbar-custom .navbar-text {
    color:#fff;
}

.navbar-custom .navbar-nav .nav-link {
    color:#fff;
}

.article-title {
    padding-top: 70px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

body {
    margin: 5%;
}

body,footer {
    margin: 0%;
}
h3 {
    display: inline;
    padding: 5px;
    border-radius: 25px 25px 0px 0px;
}

.hr-style {
    margin-top: 0px;
    color: green;
    background-color: green;
    margin-right: 50%;
}



.car-container{
    margin-bottom: 20px;
    padding: 0px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.article-thumbs {
    
}

.image-thumbs {
    display: inline-block;
}

.p-styles {
    margin-bottom: 0px;
    padding-left: 15px;
}


.date {
    font-size: 0.6em;
    padding-left: 15px;
    margin-bottom: 0px;
}

.table-styles {
    margin-top: 10px;
}

.footer-custom  {
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
}


.social-custom {
    color: #fff;
}

.social-custom:hover{
    color: #d3d3d3;
}

.design-custom {
    font-size: 0.8em;
}

.image-headings {
    width: 100%;
    height: 100;
}

.image-container {
    padding: 0%;
}

h4 {
    padding: 5px;
}
